.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.label-container {
  margin-bottom: 10px;
}

.input-field {
  width: 200px;
  height: 20px;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.form-row button {
  margin-left: auto;
  width: 200px;
  height: 30px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.search-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}



  .table-container {
    width: 500px;
    height: 600px;
    margin: 0 auto;
  }
  


.table {
  width: 50%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 13px;
  background-color: #fff;
  border-radius: 5px;
}

.table thead th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}


.aviso-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aviso {
  background-color: #f8d7da;
  padding: 10px;
  border: 1px solid #dc3545;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.aviso p {
  margin: 0;
  color: #dc3545;
  font-weight: bold;
  margin-right: 10px;
}

.aviso button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.aviso button:hover {
  background-color: #c82333;
}


